body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #77242d; */
  background-image: url(https://i.pinimg.com/736x/7a/e1/7a/7ae17aa6359bc5d128d882bdc2815763.jpg);
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  margin-right: 20px;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

#mode-toggle {
  background-color: #444;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  align-self: center;
}

#video-section {
  text-align: center;
  margin: 20px 0;
}

#video-section video {
  width: 100%;
  max-height: 300px;
}

main {
  padding: 20px;
}

#search-section {
  text-align: center;
  margin-bottom: 20px;
}

#search-bar {
  width: 80%;
  padding: 10px;
  font-size: 16px;
}

#book-list,
#favorite-books,
#read-books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.book-item,
.favorite-item,
.read-item {
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
  position: relative;
}

.book-item h3,
.favorite-item h3,
.read-item h3 {
  font-size: 1.2em;
  margin: 10px 0;
}

.book-item p,
.favorite-item p,
.read-item p {
  margin: 10px 0;
}

.book-item img {
  width: 100%;
  height: auto;
}

.read-more {
  color: blue;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
}

button:hover {
  background-color: #555;
}

.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

.dark-mode header {
  background-color: #222;
}

.dark-mode nav a {
  color: #e0e0e0;
}

.dark-mode .book-item,
.dark-mode .favorite-item,
.dark-mode .read-item {
  background-color: #333;
  border: 1px solid #444;
}

.dark-mode #search-bar {
  background-color: #333;
  color: #e0e0e0;
}
